<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Quiz Game</h1>
  <div id="question-container">
    <p id="question" class="hide">What is 2 + 2?</p>
    <input id="answer" type="text" rows="4" cols="50">
    <br>
    <button id="submit" class="hide">Submit Answer</button>
  </div>
  <p id="message" class="hide"></p>
  
  <script src="../scripts/event.js"></script>
  </body>
</html>