body {
    background-color: #111; /* Dark background */
    color: #fff; /* Text color */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

label {
    margin-top: 10px;
    font-size: 1.2rem;
}

input {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #444;
    background-color: #333; /* Input background color */
    color: #fff; /* Input text color */
}

#g-recaptcha {
    margin-bottom: 20px;
}

#submit {
    padding: 10px;
    background-color: #4CAF50; /* Submit button color */
    color: #fff; /* Submit button text color */
    cursor: pointer;
    font-weight: bolder;
}

.submit-button{
    margin: 1em;
    padding: 0.75em 1em;
}

#submit:hover {
    background-color: #45a049; /* Hover color */
}

#error {
    color: #D22B2B;
    font-weight: bolder;
}

#last {
    margin-top: 20px;
}

#login {
    color: #4CAF50; /* Login link color */
    cursor: pointer;
}

#login:hover {
    text-decoration: underline;
}
